<div class="pavo-widget-tab-group {{ settings.extra_class ? [ ' ', settings.extra_class ] | join() : '' }}">
	{% set id = random(1..9) + random() %}
    {% set a = settings.tab_active - 1 %}
	<div class="tab-toggle {% if settings.type == "horizontal" %}col-md-3{% endif %}">
		<ul class="nav nav-tabs {% if settings.type == "horizontal" %}nav-stacked{% endif %}" id="tab-group{{id}}">
	        {% for key,tab in settings.get_items %}
	        <li ><a href="#group-tab{{ key }}" data-toggle="tab">{{ tab.name }}</a></li>
	        {% endfor %}
	    </ul>
	</div>
    <div class="tab-content {% if settings.type == "horizontal" %}col-md-9{% endif %} {% if settings.position == "right" %}pull-right{% endif %}">
        {% for key, tab in settings.get_items %}
            <div class="tab-pane {% if settings.fade_effect == "true" %}fade{% endif %}" id="group-tab{{ key }}">
            	{{tab.content}}
            </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    {% if settings.tab_active %}
    $('#tab-group{{id}} li:eq({{a}}) a').tab('show');
    {% endif %}
    {% if settings.mouseover == "true" %}
    $( '#tab-group{{id}} li a' ).mouseover(function() {
        $( '#tab-group{{id}} li a[href='+$(this).attr("href")+']' ).tab('show');
    });
    {% endif %}
</script>