{% set height = settings.height ? settings.height : '100' %}
{% set unit = settings.height_unit ? settings.height_unit : '%' %}
{% set height = height ? [ height, '', unit ] | join : false %}

<div class="pa-element pa_google_map" data-place_name="{{ settings.place_name }}"
data-lat="{{ settings.lat ? settings.lat : -25.363 }}"
data-lng="{{ settings.lng ? settings.lng : 131.044 }}"
data-zoomControl="{{ settings.zoomControl ? settings.zoomControl : true }}"
data-zoom="{{ settings.zoom ? settings.zoom : 11 }}"
data-scrollwheel="{{ settings.scrollwheel }}"
data-mapTypeControl="{{ settings.mapTypeControl }}"
data-draggable="{{ settings.draggable }}"
data-mapTypeId="{{ settings.mapTypeId }}"
data-key="{{ settings.key }}"
style="height: {{ height }}"></div>