<div class="pavo-widget-featuredbox layout-3 {{settings.extra_class}}">
	<div class="inner">
		<div class="content-icon {{ settings.iconstyle }}"><i class="{{ settings.iconpicker }} {{ settings.iconsize }}"></i></div>
		<div class="content-box-left">
			<h3 class="content-title">{{ settings.title }}</h3>
			<div class="content-subtitle">{{ settings.subtitle }}</div>
			<div class="content-description">{{ settings.content }}</div>
		</div>	
		
	</div>
</div>
